<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism "/>
  </configSections>

  <modules>
    <module assemblyFile="Modules/CatWorkbookPrismPoc.ProgramModule.dll" moduleType="CatWorkbookPrismPoc.ProgramModule.ProgramModule, CatWorkbookPrismPoc.ProgramModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ProgramModule" startupLoaded="true"/>
    <module assemblyFile="Modules/CatWorkbookPrismPoc.ToolbarModule.dll" moduleType="CatWorkbookPrismPoc.ToolbarModule.ToolbarModule, CatWorkbookPrismPoc.ToolbarModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ToolbarModule" startupLoaded="true"/>
    <module assemblyFile="Modules/CatWorkbookPrismPoc.StatusbarModule.dll" moduleType="CatWorkbookPrismPoc.StatusbarModule.StatusbarModule, CatWorkbookPrismPoc.StatusbarModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="StatusbarModule" startupLoaded="true"/>
    <module assemblyFile="Modules/CatWorkbookPrismPoc.ServiceModule.dll" moduleType="CatWorkbookPrismPoc.ServiceModule.ServiceModule, CatWorkbookPrismPoc.ServiceModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ServiceModule" startupLoaded="true"/>
  </modules>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CatWorkbookService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/CatWorkbookPrismPoc.WebServiceHost/CatWorkbookService.svc"
          binding="basicHttpBinding" bindingConfiguration="CatWorkbookService"
          contract="CatWorkbookPrisimPoc.Business.ICatWorkbookService"
          name="CatWorkbookService" />
    </client>
  </system.serviceModel>

</configuration>