<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CatWorkbookService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/CatWorkbookPrismPoc.WebServiceHost/CatWorkbookService.svc"
                binding="basicHttpBinding" bindingConfiguration="CatWorkbookService"
                contract="CatWorkbookPrisimPoc.Business.ICatWorkbookService"
                name="CatWorkbookService" />
        </client>
    </system.serviceModel>
</configuration>